button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav{
    background-color: #F5D11F;
    width : 100%;
    height: 80px;
}

.landing__content{
    display: flex;
    max-width: 1200px;
    margin :auto;
    margin-top: 80px;
}

/* landingleft */
.landing__left{
    flex-basis: 50%;
    padding : 3rem;
    padding-top: 4rem;
}

.landing__left__title{
    font-family: 'CookieRunOTF-Bold';
    font-size: 70px;
    color : #F5D11F;
    margin-bottom: 2rem;
}

.landing__left__desc{
    margin-bottom: 2rem;
}

.landing__left__authBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__left__authBtn > button{
    width : 170px;
    height: 50px;
    border : 1px solid black;
    border-radius: 30px;
    margin: 1rem;
}

.landing__left__circleCnt{
    display: flex;
    margin-bottom: 2rem;
}

.landing__left__circleCnt > div {
    width : 150px;
    height : 150px;
    border : 1px solid black;
    margin : 1rem;
    border-radius: 50%;
}
/* landing right */
.landing__right{
    flex-basis: 50%;
}