@font-face {
    font-family: "CookieRun-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #f5d11f;
    width: 100%;
    height: 80px;
}

.landing__content {
    overflow: hidden;
    display: flex;
    margin: auto;
    margin-top: 80px;
    height: 100vh;
    margin: 0;
    background-image: url("../../img/LandingImg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 200px;
}

/* landingleft */
.landing__left {
    flex-basis: 50%;
    padding: 100px 40px;
    max-width: 450px;
    background: rgb(255, 255, 255, 0.8);
}

.landing__left__title {
    font-family: "CookieRun-Regular";
    font-size: 65px;
    color: #f5d11f;
    margin-bottom: 2rem;
}

.landing__left__desc {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 25px;
    color: gray;
}

.landing__left__authBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing__left__authBtn > a {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.landing__left__circleCnt {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    padding-top: 20px;
}

.landing__left__circleCnt > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid #f5d11f;
    margin: 1rem;
    border-radius: 50%;
}

.landing__left__circleCnt > div:hover {
    transition: all linear 100ms;
    transform: scale(1.1);
}

.landing__left__circleCnt > div > i {
    font-size: 38px;

    width: 75px;
    height: 75px;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 50%;
}

.landing__left__circleCnt > div:nth-child(2) {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 50%;
}

/* landing right */
.landing__right {
    display: flex;
}

.landing__left__signupBtn {
    background-color: #f5d11f;
    border: none;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    margin-right: 5px;
    font-size: 0.85em;
}

.landing__left__loginBtn {
    background-color: #f5d11f;
    border: none;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    margin-left: 5px;
    font-size: 0.85em;
}

.landing__left__signupBtn:hover,
.landing__left__loginBtn:hover {
    color: white;
    transition: 0.2s;
}

.landing__left__moreInfo {
    text-align: center;
    line-height: 20px;
    color: #333333;
    font-size: 0.8em;
}

.landing__right img {
    height: 642px;
}
