.popupContainer{
    display: flex;
}

.popup__left{
    flex-basis: 50%;
    height : 400px;
    background-color: pink;
}

.popup__right{
    flex-basis: 50%;
    height : 400px;
    background-color: yellow;
}