.login__content {
    margin: auto;
    margin-top: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    color: #F5D11F;
    font-family: 'CookieRunOTF-Bold';
    font-size: 30px;
    margin-bottom: 2rem;
}

.login__usrType{
    width: 100%;
}

.login__usrType > button:nth-child(1){
    border: 1px solid black;
    background-color: lightgrey;
    color : black;
    height :60px;
    width : 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login__usrType > button:nth-child(2){
    border: 1px solid black;
    border-left: none;
    background-color: lightgrey;
    height :60px;
    width : 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 1rem;
}

.login__usrType > button.active{
    background-color: white;
    color: #F5D11F;
    font-weight: bold;
}

.login__content > input{
    width: 100%;
    margin : 0.3rem 0;
    height: 40px;
    border : 1px solid gray;
    border-radius: 30px;
    font-size: 13px;
    padding-left: 1rem;
}

.login__help__container{
    display: flex;
    width : 100%;
    justify-content: space-between;
    padding : 0 0.3rem;
    margin : 1rem 0;
}

.loginBtn{
    width: 100%;
    height: 52px;
    border-radius: 30px;
    background-color:  #F5D11F;
    color : black;
    margin-top: 1rem;
    font-size: 12px;
}

.login__help__right > a:hover{
    border-bottom: 1px solid black;
}

.login__help__right{
    transform:  translateY(4px);   
    font-size: 13px; 
}

.login__help__left > label{
    font-size: 13px;
}
